/* Colors */

.text-color-logo {
    color:  #d37a31;
    font-family: 'Roboto Slab', serif;
}

.text-color {
    color:  #d37a31;
    font-family: 'Muli', sans-serif;
}

/* Nav Bar */

.nav-bar-style {
    justify-content: center;
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
    }

.nav-bar-style a {
    color:  #d37a31;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.nav-bar-style li {
    font-family: 'Roboto Slab', serif;
}

.btn-outline-light {
    color: #d37a31;
    background-color: transparent;
    background-image: none;
    border-color: #d37a31;
    float: right;
    margin: 30px;
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #d37a31;
    border-color: #f8f9fa;
}

.dropdown-menu {
    color: #d37a31;
    background-color: #414040;
    }

/* Sections */

.logo {
    margin: 60px;
}

.intro {
    margin: 60px;
}




/* Media Queries */
